/* Empty. Add your own CSS if you like */
.pane, .view {
    background-color: transparent;
}
.bar.bar-header {
    background-color: #3f51b5;
    height: 56px;
    border-color: transparent;
}
.bar.bar-header .title {
    color: #f1f1f1;
    height: 55px;
    font-size: 1.3em;
    line-height: 56px;
    text-align: left;
}
.has-header {
    top: 56px;
}
.item {
    border: none;
    padding: 16px;
    padding-left: 70px;
}
.item h3 {
    margin: 0 0 3px 0;
    font-weight: 400;
    font-size: 1.1em;
}
.item p {
    margin: 0 0 3px 0;
    font-weight: 400;
    font-size: 0.9em;
}